name: Action Test

on:
  push:
    branches:
      - main
      - feature/**
  pull_request:

jobs:
  test:
    name: Test the Action
    runs-on: [ubuntu-latest]
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Checking out vulnerable IaC repo
      uses: actions/checkout@v3
      with:
        repository: 'tenable/KaiMonkey'
        path: "./iac-test-repo"

    - name: Checking out vulnerable Docker repo
      uses: actions/checkout@v3
      with:
        repository: 'opsxcq/docker-vulnerable-dvwa'
        path: "./docker-test-repo"

    - name: Wiz Full Scan 
      uses: ./
      with:
        iac_scan_path: "./iac-test-repo"
        docker_scan_path: "./docker-test-repo"

        wiz_client_id: ${{ secrets.WIZ_CLIENT_ID }}
        wiz_client_secret: ${{ secrets.WIZ_CLIENT_SECRET }}